* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #e6e7e9;
}
ul {
    list-style: none;
}

.container {
    width: 1000px;
    margin: 20px auto;
    
}
.header{
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('img/wp2564226.png');
}
.title{
    width:200px;
    height: 60px;

    margin-left: 30px;
    

}

.circles{
    margin-left: 19px;
    margin: 39px;
    
}
.circles ul{
    display: flex;
    gap: 10px;
    align-items: center;
}

.circles ul li {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background:  #d2d3d5;
    text-align: center;
    font-size: 25px; 
    padding-top: 8px;
  }
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    background-color: #97989a;
    height: 48px;
    width: 200px;
    margin: 21px 0px;
    border: 1px solid #e6e7e9;
    text-align: center;
    padding-top: 15px;

}
.blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.blocks div{
    background-color: #858688;
    height: 191px;
    width: 329px;
    text-align: center;
    padding-top: 25px;
}

.main-block{
    margin: 25px 0px;
    background-color: #858688;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inside-block{
    background-color: #4b4b4d;
    width: 600px;
    
    padding-top: 40px; 
    padding-left: 20px;
    padding-right: 20px;

}
.inside-block h2{
    color: white;
    font-family: 'Dela Gothic One',cursive;
    padding-bottom: 10px;
}
.inside-block p{
    color: #d2d3d5;
    padding-bottom: 40px;
}
.inside-block a{ 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inside-block img{
    display: block;
    margin: auto;
    padding-bottom: 25px;
}

footer{
    background-color: #4b4b4d;
    margin-bottom: 21px ;
    width: 1000px;
    height: 70px;
    text-align: center;
    padding-top: 25px;
    color: white;
}


