* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e6e7e9;
}

ul {
    list-style: none;
}

.container {
    width: 1000px;
    margin: 20px auto;
    
}
.header{
    height: 120px;
    background-color: #4b4b4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    width:200px;
    height: 60px;
    background-color: #d2d3d5;
    margin-left: 30px;

}

.circles{
    margin-left: 19px;
    margin: 39px;
    
}
.circles ul{
    display: flex;
    gap: 10px;
    background-color: #4b4b4d;
    align-items: center;
}

.circles ul li {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background:  #d2d3d5;
    text-align: center;
  }
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    background-color: #97989a;
    height: 48px;
    width: 200px;
    margin: 21px 0px;
    border: 1px solid #e6e7e9;

}
.blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blocks div{
    background-color: #858688;
    height: 191px;
    width: 329px;   
}

.main-block{
    margin: 25px 0px;
    background-color: #858688;
    width: 1000px;
    height: 453px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inside-block{
    background-color: #4b4b4d;
    width: 600px;
    height: 453px;
}

footer{
    background-color: #4b4b4d;
    margin-bottom: 21px ;
    width: 1000px;
    height: 70px;
}


